@import "../../scss/variables";

.back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  height: 100%;

  background-color: $primary-100;

  &:hover {
    .back__icon {
      fill: $primary-900;
    }
  }

  &__icon {
    width: 2.8rem;
    height: 2.8rem;
    fill: $primary-700;

    transition: fill 0.3s ease;
  }
}