@import "../../scss/variables";

.input {
  position: relative;

  font-size: $l-1;

  &__placeholder {
    position: absolute;
    top: 1.5rem;
    left: 0;

    color: $grayscale-700;

    transform: translateY(-1.5rem);
    transform-origin: left top;

    transition: transform 0.3s ease;

    user-select: none;
    pointer-events: none;
  }

  &__element {
    width: 100%;
    padding: 1.5rem 0 0.7rem;

    border: none;
    border-bottom: 0.1rem solid $primary-700;

    transition: border-color 0.3s;

    &.invalid ~ .input__message {
      visibility: visible;
      opacity: 1;
    }

    &::placeholder {
      visibility: hidden;
      opacity: 0;

      pointer-events: none;
    }

    &:placeholder-shown ~ .input__placeholder {
      transform: translateY(0) scale(1.44);
    }

    &:focus ~ .input__placeholder {
      transform: translateY(-1.5rem);
    }

    &:hover {
      border-color: $primary-900;
    }
  }

  &__message {
    position: absolute;
    bottom: -1.5rem;
    left: 0;

    color: $error;
    font-weight: 400;
    font-size: $l-2;

    visibility: hidden;

    opacity: 0;

    transition: opacity 0.3s ease, visibility 0.3s ease;

    user-select: none;
  }
}
