@import "../../scss/variables";

.button {
  padding: 1.2rem 7rem;

  color: white;
  font-size: $t-1;

  background-color: $primary-700;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;

  transition: background-color 0.3s;

  user-select: none;

  &:hover {
    background-color: $primary-900;
  }
}
