@import "../../scss/variables";

.button {
  border: none;
  padding: 1.2rem 7rem;
  background-color: $primary-700;
  border-radius: 0.8rem;
  color: white;

  font-size: $t-1;

  user-select: none;
  cursor: pointer;

  transition: background-color 0.3s;

  &:hover {
    background-color: $primary-900;
  }
}