<div class="profile">
    <div class="profile__head">
        {{{head}}}
    </div>
    <div class="profile__content">
        {{#each content}}
            {{{this}}}
        {{/each}}
    </div>
</div>
