@import "../../scss/variables";

.form {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6rem;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    border: none;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
}
