@import "../../scss/variables";

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.8rem;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__code {
    font-size: $h-1;
  }

  &__text {
    font-size: $h-2;
  }

  &__actions {
  }
}
