<div class="error">
    <div class="error__content">
        <span class="error__code">{{code}}</span>
        <span class="error__text">{{text}}</span>
    </div>
    <div class="error__actions">
        {{{actions}}}
    </div>
</div>