@import "../../scss/variables";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(#000, 0.4);

  &__window {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    min-width: 34rem;
    padding: 4rem 3rem;
    background-color: $grayscale-100;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.14);
    border-radius: 1.2rem;
  }

  &__title {
    font-size: $h-4;
  }

  &__content {
  }

  &__actions {
    align-self: stretch;

    display: flex;
    flex-direction: column;
  }
}
