@import "../../scss/variables";

.field {
  position: relative;

  &__label {
    position: absolute;
    top: 50%;
    left: 0;

    font-size: $t-1;

    transform: translateY(-50%);
  }

  &__input {
    width: 100%;
    padding: 0 0 0 10rem;

    color: $grayscale-700;
    font-size: $t-1;
    text-align: right;

    border: 0;

    &.invalid {
      outline: #b20000 0.1rem solid;
    }
  }
}
