@import "../../scss/variables";

.field {
  position: relative;

  &__label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    font-size: $t-1;
  }

  &__input {
    width: 100%;
    padding: 0 0 0 10rem;
    border: 0;
    text-align: right;
    color: $grayscale-700;
    font-size: $t-1;
  }
}