@import "../../scss/variables";

.window {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-width: 34rem;
  min-height: 45rem;
  padding: 5rem 3rem 3rem;

  border-radius: 1.2rem;
  box-shadow: 0 0 0.6rem rgb(0 0 0 / 14%);

  &__title {
    font-size: $h-2;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
