@import "../../scss/variables";

.avatar {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;

  background-color: $grayscale-400;
  border-radius: 50%;

  cursor: pointer;

  &:hover {
    .avatar__overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;

    fill: #CDCDCD;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 3.2rem;

    background-color: rgba(#000, 0.5);
    border-radius: 50%;

    opacity: 0;
    visibility: hidden;
    user-select: none;

    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  &__label {
    color: $grayscale-100;
    font-size: $t-1;
    text-align: center;
  }
}
