@import "reset-css";
@import "variables";
@import "fonts";
@import "utils";

* {
  box-sizing: border-box;
}

*:focus {
  outline: $primary-700 dotted 0.1rem;
  outline-offset: 0.1rem;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: $grayscale-900;
  font: 500 1.6rem/1 Inter, sans-serif;
}

#root {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
