// fonts
$h-1: 4rem;
$h-2: 2rem;
$h-3: 1.6rem;
$h-4: 1.5rem;

$t-1: 1.3rem;
$t-2: 1.2rem;
$t-3: 1.1rem;

$l-1: 0.9rem;
$l-2: 0.8rem;

// colors
$grayscale-900: #1E1E1E;
$grayscale-700: #999999;
$grayscale-400: #EFEFEF;
$grayscale-300: #F8F8F8;
$grayscale-200: #FBFBFB;
$grayscale-100: #FFFFFF;

$primary-900: #2958d0;
$primary-700: #3369F3;
$primary-100: #E4EDFD;

$error: #FF2F2F;