<div class="message{{#if isMy}} message--my{{/if}}{{#if isImage}} message--image{{/if}}">
  <div class="message__content">
    {{{content}}}
  </div>
  <time class="message__time">{{time}}</time>
</div>
